cmd/aspecto/aspecto
cmd/elastic/elastic
cmd/honeycomb/honeycomb
cmd/lslauncher/lslauncher
cmd/newrelic/newrelic
cmd/otconf/otconf
cmd/stdout/loop/loop
cmd/stdout/recursive/recursive
cmd/signoz/bookstore/gin-bookstore
cmd/signoz/bookstore/test.db
cmd/signoz/hotrod/hotrod
cmd/splunk/splunk
cmd/sumologic/sumologic
cmd/uptrace/uptrace
cmd/uptrace/country-info/country-info
**/traces.json
**/.env
